* {
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

:root {
    --blanco: #fff;
    --negro: #000;
    --ce1: rgba(59, 203, 203);
    --ce2: rgba(59, 203, 203, 0.5);
    --gris: #6d6b6ba3;
    --transparente: transparent;
    --azul: rgb(12, 132, 237);
}

h1,
h2,
h3 {
    text-transform: uppercase;
    background-color: transparent;
}

p, img {
    background-color: transparent;
}

.sections {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}


/* nav */

#nav {
    display: flex;
    justify-content: center;
}

#nav #menu {
    display: flex;
    justify-content: space-evenly;
    padding: 5px 0px;
    position: fixed;
    width: 80%;
    margin: 10px;
    background-color: var(--transparente);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    z-index: 100;
}

#nav #menu li {
    padding: 15px;
}

#nav #menu li a {
    text-decoration: none;
    color: black;
    background-color: transparent;
    color: var(--azul);
    font-size: 20px;
    padding: 10px 15px;
}

#nav #menu img {
    width: 50px;
    height: 50px;
}

/* #nav #menu li a:hover {
    color: rgb(60, 205, 205);
    box-shadow: 0px 0px 50px var(--ce1);
    background-color: var(--ce2);
    border-radius: 30px;
    color: black;
    padding: 10px 15px;
}

#nav #menu li a:active {
    box-shadow: 2px 2px 5px var(--azul);
} */

/* seccion 1 - contenido inicio */

.contenido-inicio {
    display: flex;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/contador1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-attachment: fixed;
}

.contenido-inicio h1, p {
    color: #fff;
    width: auto;
    text-align: center;
    margin: 2rem;
}

.contenido-inicio p {
    font-size: 40px;
    width: 500px;
    background: transparent;
    backdrop-filter: blur(10px);
    border: 1px solid var(--gris);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 5px 5px 5px var(--ce2);
}

.titulo h1 {
    font-size: 48px;
}

.titulo hr {
    display: flex;
    width: 75%;
    margin-top: 10px;
    padding: 1px;
    position: absolute;
}

.titulo p {
    font-size: 22px;
    width: auto;
}


/* sección 2 - servicios */

#servicios {
    display: flex;
    background-image: url(../img/fondo-azul.jpg);
    background-size: cover;
}
#servicios .container-servicios {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 20px 20px;
    align-items: center;
}

/* .titulo-servicios {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
} */

#servicios .titulo-servicios {
    display: flex;
    flex-wrap: wrap;
    background-image: var(--transparente);
    border: 1px solid var(--ce2);
    box-shadow: 5px 5px 5px var(--gris);
    backdrop-filter: blur(10px);
    height: 60%;
    width: 25%;
    align-content: center;
    justify-content: space-evenly;
    margin: 20px;
    padding: 0px 50px;
    border-radius: 10%;
}

#servicios .titulo-servicios img {
    display: flex;
    width: 250px;
}

#servicios .titulo-servicios h2 {
    text-align: center;
    padding: 5px;
    margin-top: 30px;
}

#servicios .contenido-servicios {
    display: flex;
    width: 75%;
    flex-wrap: wrap;
    justify-content: center;
    padding: 35px 15px 0px 15px;
    max-height: 100vh;
}



#servicios ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    margin: 20px;
    border: 1px solid var(--ce2);
    width: 40%;
    box-shadow: 5px 5px 5px var(--gris);
    border-radius: 20px;
    height: auto;
}

#servicios li {
    margin: 8px 10px;
    font-size: 14px;
    text-align: center;
}

/* seccion 3 - mision */

#mision {
    display: flex;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/contador1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    padding: 20px 20px;
    align-items: center;
    font-size: 24px;
}

#mision .contenedor-mision {
    display: flex;
    flex-wrap: wrap;
    background-image: var(--transparente);
    border: 1px solid var(--ce2);
    box-shadow: 5px 5px 5px var(--gris);
    backdrop-filter: blur(10px);
    width: 100%;
    height: 80%;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 0px 50px;
    border-radius: 10%;
}

#mision h2 {
    text-align: center;
    color: var(--blanco);
    margin: 20px;
}

#mision p {
    display: flex;
    color: var(--blanco);
    width: 900px;
    height: auto;
    text-align: center;
    justify-content: center;
}

/* seccion 4 - perfil */

.container-perfil {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 20px 20px;
    align-items: center;
}

.perfil-pro {
    display: flex;
    flex-wrap: wrap;
    background-image: var(--transparente);
    border: 1px solid var(--ce2);
    box-shadow: 5px 5px 5px var(--gris);
    backdrop-filter: blur(10px);
    height: 60%;
    width: 25%;
    align-content: center;
    justify-content: space-evenly;
    margin: 20px;
    padding: 0px 50px;
    border-radius: 10%;
}

.perfil-pro p {
    color: var(--negro);
}

.clientes {
    display: flex;
    width: 75%;
    flex-wrap: wrap;
    justify-content: center;
    padding: 35px 15px 0px 15px;
    height: 100%;
}

.clientes h3 {
    display: flex;
    align-items: center;
    padding: 15px;
    margin-top: 15px;
    font-size: 20px;
    height: auto;
}

/* seccion 4 - perfil - slide-clientes */

#slider {
    height: auto;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

.slide-items {
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 30px 0px;
    border: 2px solid var(--gris);
    border-radius: 10px;
}

.slide-items .item {
    min-width: 300px;
    max-width: 300px;
    height: 300px;
    overflow-y: hidden;
    /* border: 1px solid var(--gris); */
    border-radius: 10px;
    margin: 0px 20px 0 10px;
    animation: scroll 9s linear infinite;
    -webkit-animation: scroll 9s linear infinite;
    width: calc(300px * 22);
}

.slide-items .item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: var(--blanco);
}

/* .slide-items .item img:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
} */



@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(303px * 12.01));
        transform: translateX(calc(-303px * 12.01));
    }
}

/* seccion 5 - contacto */

#contacto {
    display: flex;
    flex-wrap: wrap;
    background-image: url(../img/fondo-azul.jpg);
    background-size: cover;
}

.formulario {
    width: 500px;
    max-width: 100%;
    height: auto;
    margin: 5px 20px;
    padding: 30px;
    position: relative;
    border: 1px solid var(--ce2);
    box-shadow: 5px 5px 5px var(--gris);
    backdrop-filter: blur(20px);
    background: linear-gradient(rgba(0, 0, 0, 0.039), rgba(0, 0, 0, 0.1));
    border-radius: 10px;
}

.formulario__titulo {
    text-align: center;
    padding: 5px;
    margin-bottom: 24px;
    color: rgba(0,0,0,0.7);
}

.formulario__input, .formulario__label, .formulario__submit {
    display: block;
    width: 100%;
    font-size: 1.1em;
    border-radius: 10px;
}

.formulario__input {
    padding: 20px;
    background: rgba(0,0,0,0.1);
    border: 1px solid rgba(0,0,0,0.3);
    margin-bottom: 35px;

}

.formulario__input:focus {
    outline: 1px solid rgba(0,0,0,0.7);
}

.formulario__input:focus + .formulario__label{
    margin-top: -135px;
}

.formulario__label {
    padding-left: 15px;
    position: absolute;
    margin-top: -85px;
    z-index: -20;
    color: rgba(0, 0, 0, 0.495);
    transition: all 0.2s;
    overflow: hidden;
}

.formulario__submit {
    background: rgba(0,0,0,0.7);
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
}

.formulario__label .mensaje {
    height: 60px;
}

.formulario__label {
    margin-top: -125px;
}

/* eliminar flechas input:  */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button 
    {
        -webkit-appearance: none;
        margin: 0; 
    }
input[type=number] 
    { 
        -moz-appearance:textfield; 
    }


/* seccion 6 - footer */

footer {
    display: flex;
    flex-wrap: wrap;
    background-image: url(../img/fondo-footer.jpg);
    background-size: cover;
    height: 500px;
    justify-content: center;
    font-size: 22px;
}

.contenedor-contacto {
    display: flex;
    width: 60%;
    height: 100%;
    justify-content: center;
}

.contenedor-contacto p:nth-child(1) {
    font-size: 15px;
}

.footer-img {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px 30px;
}

.footer-img img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 15px 10px;
}


/* media-querys */

@media (max-width: 1124px) {

    .contenido-inicio {
        align-content: center;
    }

    .titulo hr {
        display: none;
    }

    .titulo-servicios {
        width: 80%;
        border-radius: 10px;
    }

    .titulo-servicios img {
        width: 100px;
    }
    
    .contenido-servicios {
        width: 100%;
    }

    /* .contenido-servicios ul {

    } */

    .container-servicios {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        justify-content: center;
    }
    #servicios {
        height: auto;
    }
}

@media (max-width: 1370px) {
    /* .contenido-servicios ul {
        width: 100%;
        margin: 10px;
    } */
}

@media (max-width: 892px) {
    #servicios ul {
        width: 100%;
    }
}

@media (max-width: 692px) {
    .titulo-servicios {
        width: 100%;
    }
}